.picture-box {
    height: calc(100px + 1em);
    margin-bottom: 2em;
    padding: 0.5em;
    background: rgb(86, 89, 93);
    border-radius: 5px;
    height: 200px;
}

.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgba(18, 63, 35, 0.521);
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
    text-align: right;
}

.author::before {
    content: " - ";
}

#picture img {
    width: 100%;
    height: 100%;
}
