.connect-four {
    text-align: center;
    font-size: 35px;
}

.players {
    flex: 1;
    width: 100%;
    padding: 0.5em;
}

.player-name {
    color: rgb(118, 190, 210);
}

#player-messages {
padding-top: 0.25em;
opacity: 0.7;
}

.event {
color: rgb(69, 69, 69);
}

.player-event {
color: rgb(165, 220, 235);
}

.system-event {
color: rgb(221, 148, 40);
}

.game {
    display: flex;
    flex-direction: column;
    position: absolute;
}

:root {
    --square-size: calc(9vh);
}

.user-score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: calc(var(--square-size) / 10);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    grid-template-rows: repeat(6, 1fr); /* 6 rows */
    gap: calc(var(--square-size) / 10); /* Adjust the gap between squares as needed */
    background-color: rgb(39, 40, 42);
    border-radius: 50px rgb(39, 40, 42);
    padding: calc(var(--square-size) / 10);
}

.square {
    width: var(--square-size); /* Use the variable */
    height: var(--square-size); /* Use the variable */
    background-color: grey;
    border: calc(var(--square-size) / 10) solid rgb(36, 53, 0);
}

.square-red {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 3px solid rgb(37, 54, 0);
}

.square-blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 3px solid rgb(36, 53, 0);
}

.button-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    gap: calc(var(--square-size) / 10); /* Adjust the gap between squares as needed */
    background-color: rgb(39, 40, 42);
    border-radius: 50px rgb(39, 40, 42);
    padding: calc(var(--square-size) / 10);
}

.button {
    width: var(--square-size);
    height: var(--square-size);
    border: calc(var(--square-size) / 23) solid rgba(22, 89, 161, 0.601)
}

.score {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: red;
    cursor: default;
    width: 50px;
    height: 30px;
    border-radius: calc(var(--square-size) / 5); /* calc(var(--square-size) / 5)*/
    border: solid thin rgb(117, 0, 0);
    background-color: #300;
}

@media (orientation: portrait) {
    :root {
        --square-size: 11vw; /* Change size based on viewport width */
    }
    .players {
        display: none;
    }
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
        display: none;
      }
}
